
*.docx
*.csv
*.sav
*.csv
*.pkl
*.csv
*.json
*.csv
*.png
debug.py
*.pdf
credibilitycoalition-2019-study (1).zip
credibilitycoalition-2019-study.zip
credibilitycoalition-credibility-factors2020.zip
Figures/Rezultati/avggaindiff.jpg
Figures/Rezultati/Legenda_metode_scence.jpg
Figures/Rezultati/Median_diff_05_area_scence.jpg
Figures/Rezultati/Median_diff_05_sum_scence.jpg
Figures/Rezultati/MedianDiff_05_area_journal.jpg
Figures/Rezultati/MedianDiff_05_rel_area_journal.jpg
Figures/Rezultati/MedianDiff_05_rel_area_science.jpg
Figures/Rezultati/MedianDiff_05_rel_sum_journal.jpg
Figures/Rezultati/MedianDiff_05_rel_sum_science.jpg
Figures/Rezultati/MedianDiff_05_sum_journal.jpg
Figures/Rezultati/MedianDiff_0_area_journal.jpg
Figures/Rezultati/MedianDiff_0_area_science.jpg
Figures/Rezultati/MedianDiff_0_rel_area_journal.jpg
Figures/Rezultati/MedianDiff_0_rel_area_science.jpg
Figures/Rezultati/MedianDiff_0_rel_sum_journal.jpg
Figures/Rezultati/MedianDiff_0_rel_sum_science.jpg
Figures/Rezultati/MedianDiff_0_sum_journal.jpg
Figures/Rezultati/MedianDiff_0_sum_science.jpg
Figures/Rezultati/MedianDiff_1_area_journal.jpg
Figures/Rezultati/MedianDiff_1_area_science.jpg
Figures/Rezultati/MedianDiff_1_rel_area_journal.jpg
Figures/Rezultati/MedianDiff_1_rel_area_science.jpg
Figures/Rezultati/MedianDiff_1_rel_sum_journal.jpg
Figures/Rezultati/MedianDiff_1_rel_sum_science.jpg
Figures/Rezultati/MedianDiff_1_sum_journal.jpg
Figures/Rezultati/MedianDiff_1_sum_science.jpg
results/results_overall_avg_satisfaction_journal.csv
results/results_overall_avg_satisfaction_science.csv
results/results_overall_relative_science.csv
results/rez_racio.pbix
results/Rezultati.pbix
results/Sum_result_analysis_credibility.xlsx
results/results_overall_avg_satisfaction_journal.csv
results/results_overall_avg_satisfaction_science.csv
results/results_overall_relative_science.csv
results/Rezultati.pbix
results/Sum_result_analysis_credibility.xlsx
Figures/Rezultati/Slike_rez.pptx
results/Color_legend_code.txt
results/data_all_ journal_expert_grades.csv
results/results_overall_avg_satisfaction_journal.csv
results/results_overall_avg_satisfaction_science.csv
results/results_overall_relative_science.csv
results/data_all_ journal_expert_grades.csv
results/results_overall_avg_satisfaction_journal.csv
results/results_overall_avg_satisfaction_science.csv
results/results_overall_relative_science.csv
results/data_all_ journal_expert_grades.csv
results/glasovi.pbix
results/Primeri.xlsx
results/Rezultati.pbix
results/Sum_result_analysis_credibility.xlsx
results/results_overall_avg_satisfaction_science.csv
